@charset "UTF-8";
@import "materialize";
@import url("syntax-theme-monokai.css");
// @import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
// @import url("syntax-theme-light.css") (prefers-color-scheme: light);

$background-color: color("grey", "lighten-5");
$divider-color: color("grey", "lighten-2");
$menu-color: "grey";
html {
    background-color: $background-color;
    font-size: 16px;
}

.post-list {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    li {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid $divider-color;
    }
}

.footer {
    .btn-0 {
        background-color: color($menu-color, "darken-4");
    }
    .btn-1 {
        background-color: color($menu-color, "darken-3");
    }
    .btn-2 {
        background-color: color($menu-color, "darken-2");
    }
    .btn-3 {
        background-color: color($menu-color, "darken-1");
    }
    .btn-4 {
        background-color: color($menu-color, "base");
    }
}

.tax-list {
    .collapsible-header {
        border-color: $divider-color;
    }
    .collapsible-body {
        border-color: $divider-color;
    }
    border: none;
    .tax-entry {
        .date {
            float: right;
        }
    }
}

ul .table-of-contents {
    padding-top: 0;
    padding-bottom: 0;
    list-style-type: none;
    li {
        padding-left: 2em;
        list-style-type: none;
    }
}

.content {
    article {
        ul {
            list-style-type: initial;
            list-style-position: outside;
            padding-left: 2em;
            li {
                list-style-type: initial;
            }
        }
        pre {
            padding: 1em;
            font-size: 14px;
        }
        video {
            max-width: 100%;
        }
        img {
            max-width: 100%;
        }
        padding-bottom: 2em;
    }
}

.footnote-definition {
    p {
        display: inline-block;
    }
}

.fixed-action-btn {
    right: unset;
    left: 23px;
}

.content pre {
    overflow: auto;
}

.collapsible-header {
    background-color: $background-color;
}

.sidenav {
    li>a {
        padding: unset;
    }
}

.sidenav {
    .table-of-contents {
        padding-left: 20px;
    }
}

.gallery {
    text-align: center;
    .gallery-item {
        display: inline-block;
        padding: 1em;
    }
}

// styles for medium screens and larger
@media #{$medium-and-up} {
    .post-list {
        .title {
            display: inline;
        }
        .date {
            float: right;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
    .header {
        margin: 5em;
    }
    article {
        max-width: 900px;
        .date {
            text-align: right;
        }
    }
}

@media #{$small-and-down} {
    .container {
        margin: auto;
        width: 100%;
    }
    .header {
        min-height: 3em;
    }
}

h1 {
    font-size: 266%;
}

h2 {
    font-size: 225%;
}

h3 {
    font-size: 200%;
}

h4 {
    font-size: 166%;
}

h5 {
    font-size: 133%;
}

sup.footnote-definition-label + p {
    display: inline;
}

code {
    padding: 0.05em 0.25em;
    border-radius: 0.1em;
}