{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    {%- block tracking %}
    {{ macros::google_analytics(id=config.extra.google_analytics_id) }}
    {%- endblock tracking %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/main.css" media="screen,projection" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {% block head %}
    {% endblock head %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>

<body>
    <div class="header">
        {% block header %}
        {% endblock header %}
    </div>

    <div class="content container">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="footer">
        {% block footer %}
        <div id="menu-btn" class="fixed-action-btn scale-transition">
            <div class="btn-0 btn-floating btn-large">
                <i class="large material-icons">menu</i>
            </div>
            <ul>
                <li><a rel="alternate" type="application/rss+xml" href="/rss.xml" class="btn-4 btn-floating"><i class="material-icons">rss_feed</i></a></li>
                <li><a href="/tags" class="btn-3 btn-floating"><i class="material-icons">code</i></a></li>
                <li><a href="/about" class="btn-2 btn-floating"><i class="material-icons">fingerprint</i></a></li>
                <li><a href="/" class="btn-1 btn-floating"><i class="material-icons">home</i></a></li>
            </ul>
        </div>
        {% endblock footer %}
    </div>

    {% block scripts %}
    <script type="text/javascript" src="/materialize.min.js"></script>
    <script type="text/javascript">
        var links = document.links;

        for (var i = 0, linksLength = links.length; i < linksLength; i++) {
            if (links[i].hostname != window.location.hostname) {
                links[i].target = '_blank';
            }
        }
    </script>
    <script type="text/javascript">
        var last_pos = 0;
        var btn_visible = true;
        document.addEventListener('DOMContentLoaded', function () {
            last_pos = window.pageYOffset;
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {});
        });
        window.addEventListener('scroll', function (e) {
            var new_pos = window.pageYOffset;
            if (new_pos < last_pos) {
                if (!btn_visible) {
                    document.getElementById("menu-btn").classList.remove("scale-out");
                    btn_visible = true;
                }
            } else {
                if (btn_visible) {
                    document.getElementById("menu-btn").classList.add("scale-out");
                    btn_visible = false;
                }
            }
            last_pos = new_pos;
        });
    </script>
    {% endblock scripts %}
</body>

</html>